$bg-dark: #282c34;
// TODO afficher le header sur la  gauche de l'écran (1/3) en mode paysage
* {
  box-sizing:borderbox;
  margin:0;
  padding:0;
}

#app {
  display:flex;
  flex-direction: column;
  min-height:100vh;
  color: white;
}

.appHeader {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $bg-dark;
}

.logo {
  height: 10vmin;
  pointer-events: none;
  align-self: center;
}

.description {
  font-size: 1.2rem;
  color: white;
}

.main {
  display:flex;
  flex:1;
  justify-content: center;
  align-items: center;
}

.componentContainer {
    height: 300px;
    width: 300px;
}

// in the header, the react logo is rotating
@media (prefers-reduced-motion: no-preference) {
  .logo {
  animation: AppLogoSpin infinite 20s linear;
  }
}

@keyframes AppLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}