header {
  display: flex;
  justify-content: center;
  background-color: #282c34;
  color: white;

}

header .logo {
  height: 10vmin;
  pointer-events: none;
  align-self: center;
}

header .description {
  line-height: 10vmin;
  font-size: 1.4rem;
} 

@media (prefers-reduced-motion: no-preference) {
  header .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

// keep it for font-size calculation
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
