.places-counter {
  height: 300px;
  width: 300px;
  border: 1px solid green;

  header {
    width: 100%;
    padding: .6rem 0;
    text-align: center;
    font-size: 1rem;
    background-color: #282c34;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .badges {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: .2rem;
    background-color: red;
    height: auto;
    border-radius: 6px;
    .item {
      background-color: white;
      flex-grow: 1;
      flex-basis: 33%;
      .label {
        text-align: center;
        border-bottom: 1px solid black;
      }
      .value {
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: row;
    background: lightgoldenrodyellow;
    // height: 100%;
    .progress {
      height: 160px;
      width: 50px;
      background-color: lightpink;
    }
    .buttons {
      display: flex;
      flex-direction: column;;
      button {
        height: 80px;
        width: 80px;
        font-size: 3rem;
        font-weight: bold;
        color: black;
      }
    }
  }


}