#progressInput {
  margin: 10px auto;
  width: 30%;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ffffff;
}

.circle-progress {
  stroke: rgb(5, 59, 73);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 2rem;
  font-weight: bold;
  fill: rgb(0, 0, 0);
}